﻿/* ===========================================================

	# Anchor

=========================================================== */

a {
	color: $link-colour;
	transition: color $speed $ease;

	&:hover,
	&:focus {
		color: $link-colour-hover;
	}
}