﻿/* ===========================================================

	# Button

=========================================================== */

button {
	background: none;
	border: none;
	cursor: pointer;
}