﻿/* ===========================================================

	# Footer

=========================================================== */

.m-footer {
    &__content--top {
        background-color: rgba($sec, .79);

        h2 {
            color: rgba($white, .8);
        }

        .c-button--primary {
            color: rgba($white, .8);
            border-color: rgba($white, .8);

            &:hover,
            &:focus {
                background-color: rgba($white, .8);
                border-color: rgba($white, .8);
                color: rgba($sec, .79);
            }
        }
    }

    &__content--bottom {
        background-color: $sec;
        color: rgba($white, .8);
        font-family: $font-family-sec;
        font-weight: 400;

        .c-nav {

            .c-nav__link {
                color: rgba($white, .8);

                &:hover,
                &:focus {
                    color: $pri;
                }
            }

            .is-active {
                color: $pri;
            }
        }

        a {
            color: $pri;
        }
    }   
}
