﻿/* ===========================================================

	# Header

=========================================================== */

.m-header {
    background-color: $white;
    padding-top: $line-height / 2;
    padding-bottom: $line-height / 2;
    box-shadow: 0 0 1rem rgba($black, .5);

    section {
        position: relative;
    }
}

.m-header__logo--wrap {
    width: 30%;
    float: left;
}

.m-header__logo {
    width: 100%;
    max-width: 30rem;
    display: block;
    transition: width $ease $speed;
}

.m-header__cta {
    width: 70%;
    float: left;
    text-align: right;
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translateY(-50%);
}

.m-header__cta--register {
    padding: 1rem 4rem;


    i {
        font-weight: bold;
        font-size: 2rem;
        margin-right: .5rem;
    }
}

@include respond-max($mq-medium) {
    .m-header__logo--wrap {
        width: 50%;
    }

    .m-header__logo {
        max-width: 21.6rem;
    }

    .m-header__cta {
        width: 50%;
        right: 2rem;
    }

    .m-header__cta--register {
        display: none;
    }
}

@include respond-max($mq-small) {
    .m-header__logo--wrap {
        width: 50%;
    }

    .m-header__logo {
        width: 100%;
    }

    .m-header__cta {
        width: 50%;
        float: left;
        text-align: center;
        right: 1.5rem;

        &--new-quote {
            float: right;
            font-size: 1.3rem;
        }
    }
}

//SHRINKING HEADER
.js-header__fixed {
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

@include respond-min ($mq-medium) {

    .js-header__shrink {
        .m-header__logo {
            width: 20rem;
        }
    }
}
