﻿/* ===========================================================

  # Reset

=========================================================== */

@-ms-viewport {
	width: device-width;
}

html {
	-webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	border: none;
	font: inherit;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, main,
footer, header, hgroup, menu, nav, section {
	display: block;
}

* {
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
}