﻿/* ===========================================================

	# Mixins

=========================================================== */

@mixin heading-font-size( $font-size ) {
	font-size: $font-size;
	padding-bottom: $font-size / 2;
}

@mixin respond-min( $width ) {
	@media only screen and ( min-width: $width ) {
		@content;
	}
}

@mixin respond-max( $width ) {
	@media only screen and ( max-width: $width - 1px) {
		@content;
	}
}

@mixin respond-min-max( $min, $max ) {
	@media only screen and ( min-width: $min ) and ( max-width: $max - 1px ) {
		@content;
	}
}

@mixin hi-res() {
	@media ( -webkit-min-device-pixel-ratio: 1.5 ), ( min-resolution: 144dppx ) {
		@content;
	}
}

@mixin clearfix() {
	&:before,
	&:after {
	    content:"";
	    display:table;
	}

	&:after {
	    clear:both;
	}
}
