﻿/* ===========================================================

	# Wrap

=========================================================== */

.o-wrap {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	.o-wrap {
		padding-left: 0;
		padding-right: 0;
	}
}

.o-wrap--center {
	margin-left: auto;
	margin-right: auto;
}

.o-wrap--small {
	max-width: $wrap-small;
}

.o-wrap--medium {
	max-width: $wrap-medium;
}

.o-wrap--large {
	max-width: $wrap-large;
}

.o-wrap--x-large {
	max-width: $wrap-x-large;
}

@include respond-min-max( $mq-small, $mq-medium ) {

	.o-wrap {
		padding-left: 2rem;
		padding-right: 2rem;
	}

}

@include respond-min( $mq-medium ) {

	.o-wrap {
		padding-left: 4rem;
		padding-right: 4rem;
	}

}