﻿@inherits UmbracoViewPage<IPublishedContent>

@{
    Layout = "Master.cshtml";

    var bannerTitle = Model.GetPropertyValue<string>("bannerTitle");
    var bannerCaption = Model.GetPropertyValue<string>("bannerCaption");

    var image = Model.GetPropertyValue<IPublishedContent>("bannerImage");

    if (image == null)
    {
        return;
    }

    var hasCaption = !String.IsNullOrWhiteSpace(bannerCaption);
    var hasTitle = !String.IsNullOrWhiteSpace(bannerTitle);
}

<!-- Top Banner -->

<section class="c-banner--news" style="background-image: url('@image.Url')">
    <div class="o-wrap o-wrap--large">
        @if (hasTitle)
        {
            <h1 class="u-center-text">@bannerTitle</h1>
        }
        @if (hasCaption)
        {
            <p class="u-font--sec u-center-text">@bannerCaption</p>
        }
    </div>
</section>

<!-- FAQ ITEMS -->
@{  
    var CurrentPage = Model.Name;
    var ChildPages = Model.Children;
}
<section class="c-faq c-faq__full u-clearfix">
    <div class="o-section o-wrap o-wrap--medium u-clearfix">
        <div class="c-faq__accordion">
            @foreach (var item in ChildPages)
            {
                var question = item.GetPropertyValue<string>("question");
                var answer = item.GetPropertyValue<IHtmlString>("answer");
                <div class="c-faq__item">
                    <a class="c-faq__question" href="#">@question <span><i class="fa fa-plus" aria-hidden="true"></i> </span></a>
                    <div class="c-faq__answer u-font--sec">@answer</div>
                </div>
            }
        </div>
    </div>
</section>