﻿@inherits UmbracoViewPage<IPublishedContent>

@{
    Layout = "Master.cshtml";

    var bannerTitle = Model.GetPropertyValue<string>("bannerTitle");
    var bannerCaption = Model.GetPropertyValue<string>("bannerCaption");

    var image = Model.GetPropertyValue<IPublishedContent>("bannerImage");

    if (image == null)
    {
        return;
    }

    var hasCaption = !String.IsNullOrWhiteSpace(bannerCaption);
    var hasTitle = !String.IsNullOrWhiteSpace(bannerTitle);
}

<!-- Top Banner -->

<section class="c-banner" style="background-image: url('@image.Url')">
    <div class="o-wrap o-wrap--large">
        @if (hasTitle)
        {
            <h1 class="u-text--white u-text-shadow">@bannerTitle</h1>
        }
        @if (hasCaption)
        {
            <p class="u-font--sec">@bannerCaption</p>
        }
        <a class="c-button c-button--primary u-space-top" href="https://quote.gogetit.insure/Quote/Quote#/quote/yourPets">Get a Quote Today</a>
    </div>
</section>


<!-- INSURANCE INFORMATION-->
@{
    var catHeadline = Model.GetPropertyValue<string>("catHeadline");
    var catDescription = Model.GetPropertyValue<IHtmlString>("catDescription");
    var dogHeadline = Model.GetPropertyValue<string>("dogHeadline");
    var dogDescription = Model.GetPropertyValue<IHtmlString>("dogDescription");
    var multipetHeadline = Model.GetPropertyValue<string>("multipetHeadline");
    var multipetDescription = Model.GetPropertyValue<IHtmlString>("multipetDescription");

    var hasCatHeadline = !String.IsNullOrWhiteSpace(catHeadline);
    var hasCatDescription = !String.IsNullOrWhiteSpace(catDescription.ToString());

    var hasDogHeadline = !String.IsNullOrWhiteSpace(dogHeadline);
    var hasDogDescription = !String.IsNullOrWhiteSpace(dogDescription.ToString());

    var hasMultipetHeadline = !String.IsNullOrWhiteSpace(multipetHeadline);
    var hasMultipetDescription = !String.IsNullOrWhiteSpace(multipetDescription.ToString());

    var hasPetIndoContent = hasCatHeadline || hasCatDescription || hasDogHeadline || hasDogDescription || hasMultipetHeadline || hasMultipetDescription ? true : false;
}
@if (hasPetIndoContent)
{
    <section class="o-section o-wrap o-wrap--large u-clearfix">
        <div class="row">
            @if (hasCatHeadline)
            {
                <div class="c-grid--3">
                    <h2>
                        @catHeadline
                    </h2>
                    <div class="u-font--sec flex-grow">
                        @catDescription
                    </div>
                    <a class="c-button c-button--primary" href="https://quote.gogetit.insure/Quote/Quote#/quote/yourPets?petType=C">Get a Cat Quote</a>
                </div>
            }
            @if (hasDogHeadline)
            {
                <div class="c-grid--3">
                    <h2>
                        @dogHeadline
                    </h2>
                    <div class="u-font--sec flex-grow">
                        @dogDescription
                    </div>
                    <a class="c-button c-button--primary" href="https://quote.gogetit.insure/Quote/Quote#/quote/yourPets?petType=D">Get a Dog Quote</a>
                </div>
            }

            @if (hasMultipetHeadline)
            {
                <div class="c-grid--3">
                    <h2>
                        @multipetHeadline
                    </h2>
                    <div class="u-font--sec flex-grow">
                        @multipetDescription
                    </div>
                    <a class="c-button c-button--primary" href="https://quote.gogetit.insure/Quote/Quote#/quote/yourPets">Get a Quote</a>
                </div>
            }
        </div>
    </section>
}

<!-- Our Insurers -->
@{
    var insurersTitle = Model.GetPropertyValue<string>("insurersTitle");
    var slide = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("slideShow");

    if (slide == null)
    {
        return;
    }
}
<section class="o-section u-center-text">
    <h2>@insurersTitle</h2>
    <div class="c-carousel">
        <div class="c-carousel--insurers o-wrap o-wrap--large">
            @foreach (var item in slide)
            {
                var slideImage = item.GetPropertyValue<IPublishedContent>("image");

                <div class="c-carousel--insurers-image">
                    <img src="@slideImage.Url" alt="@slideImage.Name" />
                </div>
            }
        </div>
    </div>
</section>

<!-- About Us -->
@{
    var bannerAboutTitle = Model.GetPropertyValue<string>("aboutTitle");
    var bannerAboutCaption = Model.GetPropertyValue<IHtmlString>("aboutCaption");
    var bannerAboutCTA = Model.GetPropertyValue<IPublishedContent>("aboutCta");
    var AboutImage = Model.GetPropertyValue<IPublishedContent>("aboutImage");
    if (AboutImage == null)
    {
        return;
    }
    var hasAboutTitle = !String.IsNullOrWhiteSpace(bannerAboutTitle);
    var hasAboutCaption = !String.IsNullOrWhiteSpace(bannerAboutCaption.ToString());
    var hasAboutCTA = bannerAboutCTA != null;
}

<section class="c-banner" style="background-image: url('@AboutImage.Url')">
    <div class="o-wrap o-wrap--large">
        @if (hasAboutTitle)
        {
            <h1>@bannerAboutTitle</h1>
        }
        @if (hasAboutCaption)
        {
            <div class="u-font--sec">@bannerAboutCaption</div>
        }
        @if (hasAboutCTA)
        {
            <a class="c-button c-button--primary u-space-top" href="@bannerAboutCTA">@bannerAboutCTA.Name</a>
        }
    </div>
</section>


<!-- LATEST NEWS -->
@{
    var homePage = Model.Site();
    var news = homePage.Descendants("news").FirstOrDefault();
    var newsChildren = news.Children();
}

<section class="o-section o-wrap o-wrap--large u-clearfix">
    <h1 class="u-space-bottom u-center-text u-text--green">Latest news from the pet world...</h1>
    @{
        int i = 0;
        foreach (var item in newsChildren)
        {
            if (i >= 3)
            {
                break;
            }
            i++;
            var Title = item.GetPropertyValue<string>("thumbnailTitle");
            var Description = item.GetPropertyValue<IHtmlString>("thumbnailDescription");
            var Date = item.GetPropertyValue<string>("thumbnailDate");
            var NewsImage = item.GetPropertyValue<IPublishedContent>("thumbnailPicture");

            if (NewsImage == null)
            {
                return;
            }

            <article class="c-card c-grid--3">
                <div class="c-card__image-wrap">
                    <div class="c-card__image" style="background-image: url('@NewsImage.Url')"> </div>
                </div>
                <div class="c-card__content">
                    <h3>@Title</h3>
                    <div class="u-font--sec">@Description</div>
                    <a class="c-button c-button--primary u-space-top" href="@item.Url">Read more</a>
                </div>
                <div class="c-card__date">@Date</div>
            </article>
        }
    }

</section>

<!-- FAQs SECTION-->
@{
    var faqTitle = Model.GetPropertyValue<string>("fAQsTitle");
    var faqImage = Model.GetPropertyValue<IPublishedContent>("fAQBackgroundImage");

    if (faqImage == null)
    {
        return;
    }

    var faqs = homePage.Descendants("fAQItem").FirstOrDefault();
    var faqChildren = faqs.Children();
}
<section class="c-faq u-clearfix" style="background-image: url('@faqImage.Url')">
    <h1 class="u-space-top u-center-text">@faqTitle</h1>
    <div class="o-section o-wrap o-wrap--large u-clearfix">
        <div class="c-faq__accordion">
            @{
                int j = 0;
                foreach (var item in faqChildren)
                {
                    if (j >= 6)
                    {
                        break;
                    }
                    j++;
                    var question = item.GetPropertyValue<string>("question");
                    var answer = item.GetPropertyValue<IHtmlString>("answer");
                    <div class="c-faq__item">
                        <a class="c-faq__question" href="#">@question <span><i class="fa fa-plus" aria-hidden="true"></i> </span></a>
                        <div class="c-faq__answer u-font--sec">@answer</div>
                    </div>
                }
            }
        </div>
    </div>
</section>




