﻿@inherits UmbracoViewPage<IPublishedContent>

@{
	Layout = null;

    var pageName = Model.Name;
}

<!DOCTYPE HTML>
<html>
    <head>
        <title>GoGetIt | @pageName</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/42f7931a-6451-476d-acf5-2da8550b6a91.css" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet">
        <link href="~/Content/styles/styles.min.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="~/scripts/lib/slick/slick.min.js"></script>
        <script src="~/scripts/global.js"></script>
    </head>
    <body class="o-page">
        @Html.Partial("~/Views/Partials/_header.cshtml")
        
        <main>
            @RenderBody()
        </main>
        
        @Html.Partial("~/Views/Partials/_footer.cshtml")
    </body>
</html>

