﻿@inherits UmbracoViewPage<IPublishedContent>

@{
    Layout = "Master.cshtml";
    
    var image = Model.GetPropertyValue<IPublishedContent>("thumbnailPicture");

    if (image == null)
    {
        return;
    }

    var bannertitle = Model.GetPropertyValue<string>("bannerTitle");
    var contentTitle = Model.GetPropertyValue<string>("mainTitle");
    var contentText = Model.GetPropertyValue<IHtmlString>("mainContent");  

    var hasContent = !String.IsNullOrWhiteSpace(contentText.ToString());
    var hasTitle = !String.IsNullOrWhiteSpace(contentTitle);
    var hasBannertitle = !String.IsNullOrWhiteSpace(bannertitle);
}

<!-- Top Banner -->
<section class="c-banner--news" style="background-image: url('@image.Url');">
    <div class="o-wrap o-wrap--large">
       <div class="o-section">&nbsp;</div>
    </div>
</section>

<section class="o-section o-wrap o-wrap--large">  
        <div class="u-space-bottom u-font--sec"><a href="/">Home</a> > <a href="@Model.Parent.Url">@Model.Parent.Name</a> > <a class="is-active">@Model.Name</a></div>
        @if (hasTitle)
        {
            <h2 class="u-space-bottom">@contentTitle</h2>
        }
        @if (hasContent)
        {
            <div class="u-font--sec">@contentText</div>
        }
</section>
