﻿@inherits UmbracoViewPage<IPublishedContent>

@{
    Layout = "Master.cshtml";

    var bannerTitle = Model.GetPropertyValue<string>("bannerTitle");
    var bannerCaption = Model.GetPropertyValue<string>("bannerCaption");

    var image = Model.GetPropertyValue<IPublishedContent>("bannerImage");

    if (image == null)
    {
        return;
    }

    var hasCaption = !String.IsNullOrWhiteSpace(bannerCaption);
    var hasTitle = !String.IsNullOrWhiteSpace(bannerTitle);
}

<!-- Top Banner -->

<section class="c-banner--news" style="background-image: url('@image.Url')">
    <div class="o-wrap o-wrap--large">
        @if (hasTitle)
        {
            <h1 class="u-center-text">@bannerTitle</h1>
        }
        @if (hasCaption)
        {
            <p class="u-font--sec u-center-text">@bannerCaption</p>
        }
    </div>
</section>

@{ 
    var CurrentPage = Model.Name;
    var ChildPages = Model.Children;
}
<!-- NEWS GATEWAY ITEMS -->
<section class="o-section o-wrap o-wrap--large u-clearfix">
    @foreach (var item in ChildPages)
    {
        var Title = item.GetPropertyValue<string>("thumbnailTitle");
        var Description = item.GetPropertyValue<IHtmlString>("thumbnailDescription");
        var Date = item.GetPropertyValue<string>("thumbnailDate");
        var NewsImage = item.GetPropertyValue<IPublishedContent>("thumbnailPicture");

        if (NewsImage == null)
        {
            return;
        }

        <article class="c-card c-grid--3">
            <div class="c-card__image-wrap">
                <div class="c-card__image" style="background-image: url('@NewsImage.Url')"> </div>
            </div>
            <div class="c-card__content">
                <h3>@Title</h3>
                <div class="u-font--sec">@Description</div>
                <a class="c-button c-button--primary u-space-top" href="@item.Url">Read more</a>
            </div>
            <div class="c-card__date">@Date</div>
        </article>
    }      
</section>