﻿@inherits UmbracoViewPage<IPublishedContent>

@{
    Layout = "Master.cshtml";

    var bannerTitle = Model.GetPropertyValue<string>("bannerTitle");
    var bannerCaption = Model.GetPropertyValue<string>("bannerCaption");

    var image = Model.GetPropertyValue<IPublishedContent>("bannerImage");

    if (image == null)
    {
        return;
    }

    var hasCaption = !String.IsNullOrWhiteSpace(bannerCaption);
    var hasTitle = !String.IsNullOrWhiteSpace(bannerTitle);
}

<!-- Top Banner -->
<section class="c-banner--news" style="background-image: url('@image.Url')">
    <div class="o-wrap o-wrap--large">
        @if (hasTitle)
        {
            <h1 class="u-center-text">@bannerTitle</h1>
        }
        @if (hasCaption)
        {
            <p class="u-font--sec u-center-text">@bannerCaption</p>
        }
    </div>
</section>

<section class="o-section o-wrap o-wrap--large">
    <div class="u-font--sec">
        @Umbraco.Field("bodyText")
    </div>
</section>
