﻿/* ===========================================================

	# Banner

=========================================================== */

.c-banner {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 32rem 0;
}

.c-banner--news {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20rem 0;
}

@include respond-max($mq-x-large) {
    .c-banner {
        padding: 20rem 0;
    }

    .c-banner--news {
        padding: 17rem 0;
    }
}

@include respond-max($mq-medium) {
    .c-banner {
        padding: 15rem 0;
        text-align: center;
    }

    .c-banner {
        padding: 15rem 0;
    }
}

@include respond-max($mq-medium) {
    .c-banner {
        padding: 10rem 0;
    }

    .c-banner--news {
        padding: 10rem 0;
    }
}

