﻿/* ===========================================================

	# Carousel

=========================================================== */

.c-carousel {
    position: relative;
}

.c-carousel--insurers-image {
  img {
      width: 100%;
      max-width: 28.5rem;
      display: block;
      margin: 0 auto;
  }
}

.c-carousel--arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    width: 5rem;
    height: 5rem;
    color: $white;
    background-color: rgba($sec, .7);
}

.c-carousel--arrow-right {
    right: 0;
}

.c-carousel--arrow-left {
    left: 0;
}