﻿/* ===========================================================

	# Card

=========================================================== */

.c-card {
    background-color: $pri;
    margin-bottom: 2.5rem;
    color: $white;
    text-align: left;
    position: relative;
    box-shadow: 0 0 1.5rem rgba($black, .2);

    h3 {
        color: $white;
    }

    .c-button--primary {
        border-color: $white;
        color: $white;
    }
}

.c-card__image-wrap {
    width: 100%;
    height: 18rem;
    background-color: #f2f2f2;
}

.c-card__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.c-card__content {    
    padding: 1.5rem;
}

.c-card__date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($pri, .8);
    color: $white;
    text-shadow: 0 0 .5rem rgba($black, .6);
    padding: .5rem 1.5rem;
    border-bottom-right-radius: 1rem;
}