﻿/* ===========================================================

	# FAQs

=========================================================== */

.c-faq {
    width: 100%;
    background-repeat: no-repeat;
    background-position: top left;
}

.c-faq__accordion {
    width: 70%;
    float: right;
}

.c-faq__full {
    .c-faq__accordion {
        width: 100%;
        float: none;
    }
}

.c-faq__item {
    border-bottom: .2rem solid $sec;
    display: block;
    padding: 2.4rem 0;
}

.c-faq__question {
    font-size: 2rem;

    span {
        float: right;
        margin-right: 2rem;
    }
}

.c-faq__answer {
    display: none;
    padding-top: 1rem;
}

.js-button {
    span {
        i {
            &:before {
                content: "\f068";
            }
        }
    }
}

@include respond-max($mq-medium) {
    .c-faq__accordion {
        width: 100%;
        float: none;
    }

    .c-faq__question {
        font-size: 1.7rem;

        span {
            float: right;
            font-size: 2rem;
            margin-right: 2rem;
        }
    }

    .c-faq__answer {
        display: none;
        font-size: 80%;
    }
}

@include respond-max($mq-small) {
    .c-faq__question {

        span {
            display: none;
        }
    }
}
