﻿/* ===========================================================

	# Grid

=========================================================== */

.c-grid--3 {
    width: 30%;
    float: left;
    margin: 0 1.5%;
    text-align: center;
}

@include respond-max($mq-medium) {
    .c-grid--3 {
        width: 100%;
        float: none;
        margin: 1.5rem 0;
        text-align: center;
        font-size: 85%;
    }
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.row [class*="c-"] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-grow {
    margin-bottom: 16px;
    flex-grow: 1;
    width: 100%;
}