﻿/* ===========================================================

	# Nav

=========================================================== */

.c-nav {
    
}

.c-nav__list {
    list-style: none;
}

.c-nav__item {
    display: inline-block;
    padding: 0 1rem;
    border-right: .2rem solid rgba($white, .8);

    &:last-of-type {
        border-right: 0;
    }
}