﻿/* ===========================================================
  # Overrides
=========================================================== */

.u-clearfix {
	@include clearfix;
}

.u-center-content,
.u-center-text {
	text-align: center;
}

.u-strong {
	font-weight: $bold;
}

.u-light {
	font-weight: 300;
}

.u-highlight-text {
	color: $pri;
}

.u-space-top {
	margin-top: $line-height;
}

.u-space-top--large {
	margin-top: $line-height * 2;
}

.u-space-bottom {
	margin-bottom: $line-height
}

.u-space-bottom--large {
	margin-bottom: $line-height * 2;
}

.u-text-shadow {
    text-shadow: 0 0 1rem rgba($black, .4);
}

.u-text--white {
    color: $white;
}

.u-text--green {
    color: $pri;
}

.u-font--sec {
    font-family: $font-family-sec;
}