﻿@inherits UmbracoViewPage<IPublishedContent>

@{ 
    var homePage = Model.Site();
    var settings = homePage.Descendants("generalSettings").FirstOrDefault();

    var footerText = settings.GetPropertyValue<IHtmlString>("footerText");
}

<footer class="m-footer u-center-text">
    <section class="o-section m-footer__content--top">
        <h2>The only place to GoGetIt!</h2>
        <a class="c-button c-button--primary u-space-top" href="https://quote.gogetit.insure/Quote/Quote#/quote/yourPets">Get a quote today</a>
    </section>
    <section class="o-section m-footer__content--bottom">

        <nav class="c-nav u-space-bottom">
            <ul class="c-nav__list">
                <li class="c-nav__item">
                    <a class="c-nav__link" href="/">Home</a>
                </li>
                @{                    
                    var menuItems = homePage.Children.Where(x => x.IsVisible() && x.TemplateId > 0);
                }

                @foreach (var item in menuItems)
                {
                    var active = item.IsAncestorOrSelf(Model) ? "is-active" : null;
                    <li class="c-nav__item">
                        <a class="c-nav__link @active" href="@item.Url">@item.Name</a>
                    </li>
                }
            </ul>
        </nav>

        <div class="o-wrap o-wrap--large">
            @footerText
        </div>
    </section>
</footer>