﻿@inherits UmbracoViewPage<IPublishedContent>

@{
    var homePage = Model.Site();
    var settings = homePage.Descendants("generalSettings").FirstOrDefault();

    var headerLogo = settings.GetPropertyValue<IPublishedContent>("headerLogo");
}
<header class="m-header">
    <section class="o-wrap o-wrap--large u-clearfix">
        <div class="m-header__logo--wrap">
            <a href="/">
                <img class="m-header__logo" src="@headerLogo.Url" alt="Go Get It Logo" />
            </a>
        </div>
        <div class="m-header__cta">
            <a class="m-header__cta--register" href="https://quote.gogetit.insure/Account/Register"><i class="fa fa-user-o" aria-hidden="true"></i> Register</a>
            <a class="c-button c-button--primary m-header__cta--new-quote" href="https://quote.gogetit.insure/Quote/Quote#/quote/yourPets">Start New Quote</a>
        </div>
    </section>
</header>